################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cheng12345.github.io/config
/.vs/cheng12345.github.io/FileContentIndex
/.vs/cheng12345.github.io/v17
/.vs
